In [1]:
import csv
import pandas as pd

In [2]:
measure_pd = pd.read_csv("hawaii_measurements.csv")
stations_pd = pd.read_csv("hawaii_stations.csv")

In [14]:
measure_pd.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [15]:
measure_pd.isnull().values.any()

True

In [16]:
measure_pd.isnull().sum()

station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [19]:
measure_pd = measure_pd.dropna(axis=0).reset_index(drop=True)
measure_pd.isnull().sum()

station    0
date       0
prcp       0
tobs       0
dtype: int64

In [20]:
measure_pd.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [22]:
measure_pd.isnull().values.any()

False

In [23]:
measure_pd.to_csv("clean_hawaii_measurements.csv", index = False)

In [24]:
stations_pd.isnull().values.any()

False